.App {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/campus-recruitment-syste-846b4.appspot.com/o/img2.jpg?alt=media&token=c22dec04-9e27-42dd-8c23-be562de25842");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}